<!DOCTYPE html>
<html>
<head>
  <title>Jahde's Online Book Store</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/depot/public/favicon.ico' %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Jahde's Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">News</a><br />
      <a href="http://www..../contact">Contact</a><br />
      <span style="color:#bfb;
  font-size:small;">
        <%= Time.now.strftime("%I:%M %p") %>
      </span>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
<span>

</span>
